@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
/* font-family: 'Rubik Iso', cursive; */
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
/* font-family: 'ADLaM Display', cursive; */
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #00203FFF;
    color: #F4DF4EFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container{
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.heading{
    font-family: 'Rubik Iso', cursive;
    font-size: 50px;
}
.child{
    display: flex;
    justify-content: space-around;
    font-family: 'ADLaM Display', cursive;
    color: #ADEFD1FF;
    width: 100%;
}
.die{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}